APP_ENV=dev
APP_NAME=expense-management
APP_PORT=8500
APP_READ_TIMEOUT=60
APP_WRITE_TIMEOUT=60
APP_IDLE_TIMEOUT=120

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=expensemanagement
DATABASE_USERNAME=user_rw
DATABASE_PASSWORD=user_rw
DATABASE_MAX_CONN_LIFETIME=180
DATABASE_MAX_CONN=8
DATABASE_MIN_CONN=4
DATABASE_SSL_MODE=disable
DATABASE_CONNECT_TIMEOUT=5

REDIST_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET_KEY=adadehmautauaja
JWT_EXPIRATION_DAY=1

KAFKA_BROKER_HOST=127.0.0.1:9092
KAFKA_CONSUMER_GROUP=expense-management
KAFKA_AUTO_OFFSET_RESET=latest